
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bt1 {
  border-top: 1px solid #dbe0e0;
}
.h120 {
  height: 120px;
}
.min-h130 {
  min-height: 130px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
