
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bt1 {
  border-top: 1px solid #dbe0e0;
}
.grey {
  color: #C6C6C6;
}
.maxh50 {
  max-height: 50px;
}
.m0 {
  margin: 0;
}
.mb20 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.p10 {
  padding: 10px;
}
